body {
	background-color: lightblue;
}

h1, h2 {
	color: blue;
	font-family: Tahoma;
	font-style:italic;
	font-variant: small-caps; 
	
}

a:link {
	color: #FF0000;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: #00FF00;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: #FF00FF;
	text-decoration: underline;
	background-color: #333;
}

/* selected link */
a:active {
	color: #0000FF;
	text-decoration: underline;
}

p {
	font-family:Arial; 
	font-size:15px;
	font-style:normal; 
	font-weight:bold; 
    font-variant: normal;
}

.intro {
	background-color: yellow;
	color: #00ff00;
	font-family: Tahoma;
}

.goals {
	background-color: #84cebe;
	color: #0000ff;
	font-family: Serif;
}

div h2 span {
	color: #ff00ff;
	font-weight: bold;
}

div span {
	color: #0000ff;
	font-weight: bold;
}