body {
	background-color: lightblue;
}

h1, h2 {
	color: blue;
	font-family: Tahoma;
	font-style:italic;
	font-variant: small-caps; 
	
}
 
h1 {
	word-spacing: 15px;
	letter-spacing:2px;
	text-align: center;
	text-transform: uppercase;
}

h2
{
	word-spacing: 0.5em;
	letter-spacing:.1em;
	text-transform: capitalize;
	
}

a:link {
	color: #FF0000;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: #00FF00;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: #FF00FF;
	text-decoration: underline;
	background-color: #333;
}

/* selected link */
a:active {
	color: #0000FF;
	text-decoration: underline;
}

p {
	font-family:Arial; 
	font-size:15px;
	font-style:normal; 
	font-weight:normal; 
    font-variant: normal;
    text-indent: 50px;
}

.intro {
	background-color: #ffffff;
	color: #7f007f;
	font-family: Tahoma;
	letter-spacing:.05em;
	line-height: 2;
	text-align:justify;
}

.goals {
	background-color: #ffffff;
	color: #0000ff;
	font-family: Serif;
	line-height: 25px;
	text-align: left;
}