body {
	font: 100% Verdana, Arial, sans-serif;
	color: #000;
	background-color: #fff;
}

table {
	text-align: left;
	border-collapse: collapse;
	width: 800px;
	margin: 0 auto;
}

caption {
	font-size: 2em;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: .2em;
	padding: .3em 0;
	caption-side: top;
	color: #686;
	font-style: italic;
	padding: .1em 0;
}

tfoot {
	font-size: .6em;
	color: #686;
	font-style: italic;
	text-align: right;
}

tr {
	vertical-align: top; /* baseline */
}

tr:hover {
	background-color: #0e7101;
	color: #fcf;
}

th, td {
	padding: 10px;
	border-bottom: 1px solid #666;
}

.odd {
	background-color: #fc9;
}

.last1 {
	background-color: #fff;
	padding: 0;
	border: none;
}

.group {
	width: 150px;
}

/* Styles for col tag */
.html {
	background-color: red;
}

.meaning {
	background-color: yellow;
}