body {
	font: 100%/1.5em Verdana, Arial, san-serif;
	color: #000;
	background: #996;
	text-align: center;
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 760px;
	background: #fff;
	text-align: left;
	margin: 0 auto;
	font-size: .8em;
}

#header {
	background: #dccbac;
}

#header h1 {
	font: bold 2.2em Georgia, "Times New Roman", serif;
	color: #333;
	margin: 0;
	padding: 20px 10px;
}

/* Navigation styles begin here*/
#navigation {
	width: 140px;
	float: left;
	padding: 15px 10px;
}

#navigation ul li {
	list-style: none;
	line-height: 2.7em;
}

#navigation a:link {
	color: #030;
	text-decoration: none;
}

#navigation a:hover, #navigation a:focus {
	color: #600;
	text-decoration: underline;
}

/* Sidebar - or third column style starts here*/
#sidebar {
	background: #877d6c;
	width: 144px;
	float: right;
	padding: 15px 8px 8px 8px;
	margin: 0;
}

#sidebar p {
	color: #fff;
}

#content {
	margin: 0 165px;
	padding: 15px;
	border-left: thin solid #ccc;
}

#footer {
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
	color: #999;
	font-size: .7em;
}

.brclear {
	clear: both;
}

.left {
	float: left;
	margin: 0 10px 10px 0;
	text-align: center;
	font-size: .75em;
}

.right {
	float: right;
	margin: 0 0 10px 10px;
	text-align: center;
	font-size: .75em;
}