body {
	background-color: lightblue;
}

h1, h2 {
	color: blue;
	font-family: Tahoma;
}

p {
	font-family: Arial;
}

#nav {
	width: 170px;
	border: 3px double #999;
	font: .85em/1.9em Verdana Arial sans-serif;
}

#navlist {
	margin: 2px;
	padding: 5px 10px 5px 5px;
	list-style: none;
}

#navlist li {
	padding-left: 22px;
	background-image: url(arrow.gif); background-repeat : no-repeat;
	background-position: .35em;
	border-bottom: 1px solid #ccc;
	background-repeat: no-repeat;
}

#navlist li:hover {
	background: #ff0;
}