body {
	background-color: #f1e2f7;
	line-height: 30px;
	background-image: url("rosemedium.gif");
	background-attachment: fixed;
}

h1, h2 {
	color: blue;
	font-family: Tahoma;
	background-color: #ffff00;
}

h1 {
	background-image: url("arrow.gif");
	background-position: 10px 150px;
	background-repeat: repeat-y;
	text-align: center;
}

h2 {
	background-color: #e399ff;
}

p {
	font-family: Arial;
	background-color: rgb(255, 255, 255);
}

.a {
	background-image: url("abc.gif");
	background-repeat: repeat-y;
}