body {
	background-color: #fff;
}

h1, h2 {
	color: blue;
	font-family: Tahoma;
}

p {
	font-family: Arial;
}

.special {
	color: blue;
	border-style: dashed;
	border-width: 12px;
	border-color: #fff;
	border-bottom-color: #669;
	border-bottom-style: solid;
	background-color: #ccf;
	margin: 50px;
	padding: 25px;
	padding-left: 300px;
	background-image: url("rosemedium.gif");
	background-repeat: no-repeat;
	padding-left: 150px;
	margin: 50px;
}

.special1 {
	color: blue;
	border-style: dashed;
	border-width: 10px;
	border-color: #fff;
	border-bottom-color: #669;
	border-bottom-style: solid;
	background-color: #ccf;
	margin: 50px;
	padding: 25px;
	padding-left: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 50px;
}

.special2 {
	color: blue;
	border-style: solid;
	border-width: 5px;
	border-color: #555;
	border-bottom-color: #679;
	margin: 50px;
	padding: 25px;
	padding-left: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 50px;
}