body {
	background: #ffc;
	font: 1em Verdana, Arial, sans-serif;
	width: 800px;
	margin: auto;
}

div {
	width: 100px;
	height: 100px;
	border: 1px solid #999;
	position: fixed;
}

h1, h2 {
	color: blue;
	font-family: Tahoma;
}

p {
	background: #f69;
	margin: 10px 110px;
	padding: 5px;
	line-height: 2em;
}

#one {
	background: pink;
	top: 0;
	left: 0;
}

#two {
	background: blue;
	top: 0;
	right: 0;
}

#three {
	background: green;
	bottom: 0;
	left: 0;
}

#four {
	background: orange;
	bottom: 0;
	right: 0;
}