body {
    background-color: lightblue;
}

h1, h2{
    color:blue;
    font-family:Tahoma;
}

p {
    font-family:Arial;
}

/* Attribute selectors*/

a[href^="http:"]{
	padding:0 16px 0 0;
	background:url(home.gif) no-repeat center right;
	
}

a[href^="mailto:"]{
		padding:20px;
		background:url(mail.gif) no-repeat center left;
	
}
a[href$=".pdf"]{
		padding:0 20px 0 0;
		background:url(pdf.gif) no-repeat center right;
	
}
a[href$=".doc"]{
		padding:0 20px 0 0;
		background:url(doc.gif) no-repeat center right;
	
}