body {
	background: #ffc;
}

div {
	width: 100px;
	height: 100px;
	border: 1px solid #999;
	position: absolute;
	z-index: auto;
}

#one {
	background: pink;
	position: absolute;
	top: 200px;
	left: 800px;
	z-index: 1;
}

#two {
	background: blue;
	position: absolute;
	top: 300px;
	left: 700px;
	z-index: 2;
}

#three {
	background: green;
	position: absolute;
	top: 170px;
	left: 600px;
	z-index: 3;
}