body {
	background-color: #fff;
	font: 100%/1.5 Arial Verdana Serif;
}

h1, h2 {
	color: blue;
}

p {
	line-height: 2em;
}

.special {
	color: blue;
	border: 12px dashed #fff;
	border-bottom-color: #669;
	border-bottom-style: solid;
	margin: 50px;
	padding: 25px;
	padding-left: 300px;
	background: #ccf url("rosemedium.gif") no-repeat left top;
	padding-left: 150px;
	margin: 50px;
	padding-left: 150px;
	width: 400px;
	float: left;
}

img {
	float: left;
	padding-right: 1em;
}