/* Hide certain elements*/
#nav #footer img {
	display: none;
}

/* Control page layout - width and margin for papers*/

#header #content {
	width: auto;
	margin: 0;
	padding: 0;
}

/* Reformating text*/
* {
	color: #000;
}

h1 {
	font-size: 24pt;
}

h2 {
	font-size: 16pt;
	page-break-before: always;
}

p {
	font-size: 11pt;
}

a:AFTER {
	content: "(attr("href"))";
	color: #999;
	font-size: 14pt;
}