body {
	background: #ffc;
	font: 1em Verdana, Arial, sans-serif;
	width:800px;
	margin:0 auto;
}

div {
	width: 100px;
	height: 100px;
	border: 1px solid #999;
}

#one {
	background: pink;
	position:absolute;
	top:0;
	left:0;
}

#two {
	background: blue;
	position:absolute;
	top:0;
	right:0;
}

#three {
	background: green;
	position:absolute;
	bottom:0;
	left:0;
}

#four {
	background: orange;
	position:absolute;
	bottom:0;
	right:0;
}

h1, h2 {
	color: blue;
	font-family: Tahoma;
}

p {
	font-family: Arial;
}