body {
	background-color: #ccf;
	font: 100% Arial Verdana Serif;
	color: #000;
}

#header {
	color: blue;
}

p {
	line-height: 2em;
	font-size: 1em;
}

#wrapper {
	background-color: #fff;
	border-style: solid;
	border-width: 12px;
	border-color: #fdf;
	padding: 25px;
}

/* unvisited link */
#nav a:link {
	color: green;
	text-decoration: none;
}

/* visited link */
#nav a:visited {
	color: blue;
}

/* mouse over link */
#nav a:hover {
	color: red;
	text-decoration: underline;
}

/* selected link */
#nav a:active {
	color: yellow;
	background-color: #ccc;
}

#wrapper {
	width: 760px;
	margin: 0 auto;
}

#content p {
	background-color: #ff0;
	font: 100% Arial Verdana Serif;
	color: #111;
}

#footer p {
	font-size: .8em;
	color: #666;
}

/* unvisited link */
#footer a:link {
	color: #384cb7;
	text-decoration: none;
}

/* visited link */
#footer a:visited {
	color: #39b55e;
}

/* mouse over link */
#footer a:hover {
	color: #fb5ce9;
	text-decoration: underline;
}

/* selected link */
#footer a:active {
	color: #ff7374;
	background-color: #ccc;
}