body {
	background-color: lightblue;
}

h1, h2 {
	color: blue;
	font-family: Tahoma;
}

p {
	font-family: Arial;
}

#nav  ul {
	padding-left: 0;
	margin-left: 0;
	background: #036;
	color: #fff;
	float: left;
	width: 100%;
	font-family: Verdana, Arial, sans-serif;
}

#nav li {
	display: inline;
	padding-right: 20px;
}

#nav ul li a {
	padding: .2em 1em;
	background: #036; color : #fff; text-decoration : none; float : left;
	border-right: 1px solid #fff;
	float: left;
	text-decoration: none;
	color: #fff;
}

#nav ul li a:hover {
	background: #369;
	color: #fff;
}

#nav ul li a:active {
	background: yellow;
	color: #fff;
}