h1, h2, h3 {
	color: blue;
	font-family: Tahoma;
	font-style: italic;
	font-variant: small-caps;
}

h1 {
	word-spacing: 15px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	word-spacing: 0.5em;
	letter-spacing: .1em;
	text-transform: capitalize;
}

p {
	font-family: Arial;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
}

body {
	font: 100%/1.5em Verdana, Arial, san-serif;
	color: #000;
	background: #996;
	text-align: center;
	margin: 0;
	padding: 0;
}

.intro {
	background-color: yellow;
	color: #00ff00;
	font-family: Tahoma;
}

.goals {
	background-color: #84cebe;
	color: #0000ff;
	font-family: Serif;
	letter-spacing: .05em;
	line-height: 2;
	text-align: justify;
}

div h2 span {
	color: #ff00ff;
	font-weight: bold;
}

div span {
	color: #0000ff;
	font-weight: bold;
}

#wrapper {
	width: 760px;
	position: relative;
	background: #fff;
	text-align: left;
	margin: 0 auto;
	font-size: .8em;
	background-image: url("abc.gif");
	background-repeat: repeat;
}

#header {
	background: #96d37f;
}

#header h1 {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 2.2em;
	font-weight: bold;
	color: #333;
	margin: 0;
	padding: 20px 10px;
}

/* Navigation styles begin here*/
#navigation {
	width: 140px;
	float: left;
	padding: 15px 10px;
}

#navigation ul li {
	list-style: none;
	line-height: 2.7em;
}

#navigation a:link {
	color: #030;
	text-decoration: none;
}

/* visited link */
#navigation a:visited {
	color: #e45fff;
	text-decoration: none;
}

#navigation a:hover, #navigation a:focus {
	color: #600;
	text-decoration: underline;
}

/* selected link */
#navigation a:active {
	color: #0000FF;
	text-decoration: underline;
	background-color: yellow;
}

#content {
	margin: 0 0 0 165px;
	padding: 15px;
	border-left: thin solid #ccc;
}

#footer {
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
	color: #999;
	font-size: .7em;
}

table {
	text-align: left;
	border-collapse: collapse;
	margin: 0 auto;
}

caption {
	font-size: 2em;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: .2em;
	padding: .3em 0;
	caption-side: top;
	color: #686;
	font-style: italic;
	padding: .1em 0;
}

tfoot {
	font-size: .6em;
	color: #686;
	font-style: italic;
	text-align: right;
}

tr {
	vertical-align: top; /* baseline */
}

tr:hover {
	background-color: #0e7101;
	color: #fcf;
}

th, td {
	padding: 10px;
	border-bottom: 1px solid #666;
}

.odd {
	background-color: #fc9;
}

.last1 {
	background-color: #fff;
	padding: 0;
	border: none;
}

.group {
	width: 150px;
}

/* Styles for col tag */
.html {
	background-color: red;
}

.meaning {
	background-color: yellow;
}

ol.ab {
	list-style-type: disc;
}

ul.a {
	list-style-type: circle;
}

ul.b {
	list-style-type: square;
}

ul.c {
	list-style-type: upper-roman;
}

.special {
	color: blue;
	border-style: dashed;
	border-width: 12px;
	border-color: #fff;
	border-bottom-color: #669;
	border-bottom-style: solid;
	margin: 50px;
	padding: 25px;
	padding: 5px 5px 5px 150px;
	background: #ccf url("rosemedium.gif") no-repeat left top;
	margin: 50px;
}

.special1 {
	color: blue;
	border-style: dashed;
	border-width: 10px;
	border-color: #fff;
	border-bottom-color: #669;
	border-bottom-style: solid;
	background-color: #ccf;
	padding: 25px;
	padding-left: 10px;
	margin: 10px 15px 10px 5px;
}

.left {
	float: left;
	padding-right: 1em;
}

.right {
	float: right;
	padding-left: 1em;
}

/* Attribute selectors*/
a[href^="http:"] {
	padding: 0 16px 0 0;
	background: url(home.gif) no-repeat center right;
}

a[href^="mailto:"] {
	padding: 20px;
	background: url(mail.gif) no-repeat center left;
}

a[href$=".pdf"] {
	padding: 0 20px 0 0;
	background: url(pdf.gif) no-repeat center right;
}

a[href$=".doc"] {
	padding: 0 20px 0 0;
	background: url(doc.gif) no-repeat center right;
}

#navigation {
	width: 140px;
	border: 3px double #999;
	font: .85em/1.9em Verdana Arial sans-serif;
}

#navlist {
	margin: 2px;
	padding: 5px 10px 5px 5px;
	list-style: none;
}

#navlist li {
	padding-left: 22px;
	background-image: url(arrow.gif);
	background-repeat: no-repeat;
	background-position: .35em;
	border-bottom: 1px solid #ccc;
	background-repeat: no-repeat;
}

#navlist li:hover {
	background: #ff0;
}

#one {
	background: pink;
	position: absolute;
	top: 0;
	right: 0;
}

#two {
	background: pink;
	position: fixed;
	top: 0;
	right: 0;
}