body {
	background-color: #fff;
	font: 100%/1.5 Arial Verdana Serif;
}

h1, h2 {
	color: blue;
}

p {
	line-height: 2em;
}

.special {
	color: blue;
	border: 12px dashed #fff;
	border-bottom-color: #669;
	border-bottom-style: solid;
	margin: 50px;
	padding: 25px;
	padding-left: 300px;
	background: #ccf url("rosemedium.gif") no-repeat left top; padding-left
	: 150px;
	margin: 50px;
	padding-left: 150px;
}

.special1 {
	color: blue;
	border: 10px dashed #fff;
	border-bottom-color: #669;
	border-bottom-style: solid;
	background-color: #ccf;
	margin: 50px;
	padding: 25px;
	padding-left: 50px;
	margin: 100px 150px 100px 50px;
}

.special2 {
	color: blue;
	border: 5px solid #555;
	border-width: 10px 5px 8px 10px;
	border-color: #ccf #336 #33f #336;
	border-bottom-color: #679;
	margin: 50px;
	padding: 25px 50px 25px;
	margin: 100px 50px;
}