body {
	background: #ffc;
	font: 1em Verdana, Arial, sans-serif;
	width: 800px;
	margin: 0 auto;
}

div {
	
}

#wrapper {
	position: relative;
	width: 700px;
	height: 700px;
	border: 1px solid #999;
	margin: auto;
}

#one {
	background: pink;
	position: absolute;
	top: 0;
	left: 0;
}

h1, h2 {
	color: blue;
	font-family: Tahoma;
}

p {
	font-family: Arial;
}