ol.ab {
	list-style-type: disc;
}

ul.a {
	list-style-type: circle;
}

ul.b {
	list-style-type: square;
}

ul.c {
	list-style-type: upper-roman;
}

ul.d {
	list-style-type: lower-alpha;
}

ul.e {
	list-style-image:url('arrow.gif');
}
